.arrow-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #000;
}

.arrow-detailedpage {
    height: 3rem;
    margin-left: 3rem;
}

.detailedpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
}

.detailedpage-text {
    max-width: 60%; 
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #fff;
}

.detailedpage-video {
    width: 80%; 
    height: 80%;
}
