.main-resume-container {
    background-color: #000;
}

.arrow-image {
    height: 3rem;
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-image {
    width: 50%;
    height: auto;
}