.main-resume-container {
    height: 100%;
    background-color: #f0f0f0;
}

.arrow-resume-container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    background-color: #000;
}

.arrow-resume-link {
    margin-left: 3rem;
    margin-top: 1rem;
    width: 5%;
}

.arrow-resume-image {
    height: 3rem;
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-image {
    width: 50%;
    height: auto;
}

@media (max-width: 1234px) {
    .main-resume-container {
        height: 100vh;
    }
}
