.home-container {
    background-color: black;
}

.title-container {
    display: flex;
    justify-content: center;
}

.projects-title {
    color: #fff;
    margin-bottom: 3rem;
    border: #fff 3px solid;
    padding: 0.5rem;
}

.cards-container {
    display: flex;
    width: 100%;
}