.dark-mode {
    background-color: #000;
    color: #fff;
}

.light-mode {
    background-color: rgb(220, 242, 241);
    color: #000;
}

.title-container {
    display: flex;
    justify-content: center;
}

.projects-title {
    margin-bottom: 3rem;
    font-weight: bold;
}

.cards-container {
    display: flex;
    width: 100%;
}