.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-section {
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    transition: transform 0.3s;
}

.card-image {
    max-width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.3s;
}

.card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgb(255, 255, 141);
}

.card-body > * {
    margin-bottom: 10px;
}

.card-section:hover .card-body {
    opacity: 1;
}

.card-section:hover .card-image {
    opacity: 0;
}

.card-section:hover {
    transform: scale(1.1);
}

.card-button {
    border-radius: 10%;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
}

.card-button:hover {
    color: #FDE12D;
}

.bottom-images-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom-image {
    max-width: 100%;
    height: auto;
    margin: 5px;
}

.card-section.clicked .card-body {
    opacity: 1;
}

.card-section.clicked .card-image {
    opacity: 0;
}

.card-section.double-clicked .card-body {
    opacity: 0;
}

.card-section.double-clicked .card-image {
    opacity: 1;
}

@media (max-width: 1400px) {
    .card-section {
        width: 40%;
    }
}

@media (max-width: 880px) {
    .card-section {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .card-section {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 500px) {
    .card-section {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
    .card-text {
        font-size: 0.7em; 
    }
    .bottom-image {
        width: 40px; 
        height: 40px;
    }
}

@media (max-width: 360px) {
    .card-text {
        font-size: 0.5em;
    }
    .bottom-image {
        width: 20px;
        height: 20px;
    }
    .card-button {
        padding: 0.3rem;
        font-size: 0.7em; 
    }
}






