.cards-container {
    flex-wrap: wrap;
}

.card-section {
    position: relative;
    width: 26%;
    height: 20vh; 
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-bottom: 2rem;
    background-color: #fff;
    transition: transform 0.3s;
}

.card-image {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s;
}

.card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgb(255, 255, 141);
}

.card-section:hover .card-body {
    opacity: 1;
}

.card-section:hover .card-image {
    opacity: 0;
}

.card-section:hover {
    transform: scale(1.1);
}

.card-button {
    border-radius: 10%;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
}

.card-button:hover {
    color: #FDE12D;
}

.bottom-images-container {
    display: flex;
    justify-content: space-between;
}

.bottom-image {
    margin: 1rem;
    margin-bottom: 2rem;
}

.card-section.clicked .card-body {
    opacity: 1;
}

.card-section.clicked .card-image {
    opacity: 0;
}

@media (min-width: 800px) {
    .card-section:hover .card-body {
        opacity: 1;
    }

    .card-section:hover .card-image {
        opacity: 0;
    }

    .card-section.clicked .card-body,
    .card-section.clicked .card-image {
        opacity: initial;
    }
}

@media (max-width: 1300px) {
    .card-section {
        width: 38%;
    }
}

@media (max-width: 800px) {
    .card-section {
        width: 80%;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .card-section {
        width: 60%;
    }
}
