.footer {
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #000;
    border-top: #fff 5px solid;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.copyright-text {
    margin-top: 1rem;
}

.contact-text {
    margin-top: 2rem;
}

.container {
    max-width: 100%;
}

.email-link {
    text-decoration: none;
}

.light-mode .email-link:hover {
    color: #FAA613;
}

.dark-mode .email-link:hover {
    color: #fde12d;
}

.email-dark {
    color: #fff;
}

.email-light {
    color: #000;
}

@media only screen and (max-width: 540px) {
    .footer {
        flex-direction: column;
        height: auto;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .footer-content p:last-child {
        margin-bottom: 1rem;
    }
    .copyright-text {
        margin-top: 1rem;
    }
    
    .contact-text {
        margin-top: 0;
    }
}


