.arrow-image {
    margin-left: 5%;
    margin-top: 3%;
}

.general-container {
    background-color: #000000;
    min-height: 100vh;
}

.aboutme-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.cynthia-photo {
    width: 250px;  
    height: auto;
    object-fit: contain; 
}

.aboutme-text {
    color: #fff;
    width: 59%;
    font-size: 1.3rem;
    margin-left: -15%;
}

.stack-container {
        width: 90%;
        border: #fff 1px solid;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 5%;
        margin-top: 3rem;
}

.stack-container img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.stack-container img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
    .cynthia-photo {
        width: 150px;
    }
    .stack-container {
        margin-left: 5%;
    }
}

@media screen and (max-width: 600px) {
    .cynthia-photo {
        display: none;
    }
}